---
layout: default
---
    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <img src="img/c4hlogo-white.png" width="50%">
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">You can join with like minded people in our communities, learn some code and discover how apps are created, explore the resources across the open health and care ecosystem, build apps and test your ideas.</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary text-white" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <center><h2 class="section-heading text-white">Welcome to Code4Health&#8482</h2></center>
            <hr class="light my-4">
            <p class="text-faded mb-4">Code4Health is an initiative supported by NHS England and NHS Digital to enable the best use of digital tools and technology to deliver safe, high quality, efficient and compassionate care. We aim to educate and inform all participants in the health and care community: citizens, patients, carers, health, care and digital professionals about the possibilities digital technologies provide and equip them with the tools, knowledge and skills to collaborate to develop and implement high quality digital solutions.</p>
            <center><a class="btn btn-light btn-xl js-scroll-trigger" href="#communities">Get Started!</a></center>
          </div>
        </div>
      </div>
    </section>

      <section id="communities">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Communities</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-users text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Bringing People Together</h3>
              <p class="text-muted mb-0">Find, join or create a Code4Health community based around a location or a particular patient need and work together to improve digital tools and services</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-chart-line fa-4x text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Improve Patient Outcomes</h3>
              <p class="text-muted mb-0">Using Code4Health resources our communities aim to improve the outcome for patients across health and care</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fas fa-graduation-cap text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Learn New<br>Skills</h3>
              <p class="text-muted mb-0">We have a range of learning resources that help our communities to develop knowledge and skills they need to play an effective role in the design and development of digital tools</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">With Shared<br>Values</h3>
              <p class="text-muted mb-0">Our <a href="{{ '/values' }}">values</a> recognise the importance of everyone involved and explains what we should expect from each other</p>
            </div>
          </div>
        </div>
		</br>
		</br>
		<center><a class="btn btn-primary btn-xl js-scroll-trigger" href="{{ '/communities' }}">Our Communities</a></center>
      </div>
    </section>
	
	<!--<section class="bg-secondary" id="news">
	<div class="container">
	<div class="row">
	            <a class="twitter-timeline"  href="https://twitter.com/code4health" data-widget-id="600602846019657728">Tweets by @code4health</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          
	</div>
	</div>
	
	</section>-->

	<!-- NEWS SECTION --> 
	
<section class="text-white" id="news" style="background-color:#1a5281">
      <div class="container text-center">
		  <div class="col-lg-10 mx-auto">
			<h2 class="mb-4">Featured Stories</h2>
			<hr class="my-4"> 
				<div class="row"> 
						<div class="row" id="stories">
							 {% for post in site.posts limit:3 %}
							  <div class="col-md-4">
								  <div class="thumbnail">
								  <a href="{{ post.url }}">
								  <img  src="{{ post.thumbnail }}" style="width:100%" alt="{{ post.title }}">
									<div class="caption text-white"><br>
									  <p>{{ post.title }}</p> 
									</div>
								  </a>
								</div>
							  </div>
							{% endfor %}
							</div>



				</div>
			</br>	 
			<a class="btn btn-light btn-xl sr-button" href="{{ '/featured-stories/' }}">More Stories</a>
		</div>
    </div>
</section>
	
	<section id="platform">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Code4Health Platform <a href="https://github.com/code4health-platform" target="_blank"><i class="fab fa-github"></i></a></h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fab fa-4x fa-osi text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">An Open<br> Platform</h3>
              <p class="text-muted mb-0">Developed using the Apperta <a href="https://apperta.org/openplatforms" target="_blank">'Defining an Open Platform'</a> principles, the platform provides users with useful tools for starting or contributing to Health IT solutions</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-cogs fa-4x text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Access to <br>Tools & Services</h3>
              <p class="text-muted mb-0">Access to common Health & Care CDR's, API's, development toolkits, sample data, terminology services and more</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fas fa-desktop text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Develop, Test & Demonstrate</h3>
              <p class="text-muted mb-0">Provides an open sandbox environment for anyone who wants to discover, demonstrate, test or build health and care solutions by simulating a wide range of open systems</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-share-alt-square text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Share your Contribution</h3>
              <p class="text-muted mb-0">Submit your contributions back to the community for use within the Code4Health Platform</p>
            </div>
          </div>
        </div>
		</br>
		</br>
		<center><a class="btn btn-primary btn-xl" href="https://platform.code4health.org" target="_blank">Find Out More</a></center>
      </div>
    </section>

    <section class="bg-dark text-white" id="supporters">
      <div class="container text-center">
	  <div class="col-lg-10 mx-auto">
        <h2 class="mb-4">Code4Health Supporters</h2>
		<hr class="my-4">
		<div class="row"> 
		<p align="left">Any organisation that supports the general aims of Code4Health to facilitate the creation of an open digital ecosystem in health and care can show this support by becoming a Code4Health Supporter. To become a supporter organisations must be actively freely contributing products, services or facilities that help create and sustain an open ecosystem.</p>
<div class="row">
   
    	  <!-- Supporter External Link -->
        {% for supporters in site.supporters %}
    <div class="col-md-4" style="padding-bottom: 20px">
      
	
		  <a class="portfolio-box" href="{{ supporters.www }}" target="_blank">
			<img class="img-fluid" src="{{ supporters.thumbnail }}" alt="{{ supporters.name }}" style="width:100%">			
				<div class="portfolio-box-caption">
					<div class="portfolio-box-caption-content">
						  <div class="project-category text-faded">
							{{ supporters.name }}
						  </div>
						  <div class="project-name">
							{{ supporters.offer }}
						  </div>
					</div>
				</div>
            </a>
           
          </div>
          {% endfor %}
    
        </div>

</div>
       </br>
</br>	  
<a class="btn btn-light btn-xl sr-button" href="mailto:info@code4health.org">Support Code4Health</a>
</div>
      </div>
    </section>
